%ul
  %li.source
    %a(href='#') UCLA Digital Collections (default)
    %div An archive of images, manuscripts and sound recordings. A great number of collections covering many different topics are available.
    %div.subcategory
      %p Search by type
      %ul
        %li 
          %input#dlc-image(type='checkbox') 
          %label(for='dlc-image') Image
        %li 
          %input#dlc-text(type='checkbox') 
          %label(for='dlc-text') Text
        %li 
          %input#dlc-audio(type='checkbox') 
          %label(for='dlc-audio') Audio
        