%table
  %thead
    %tr
      %th  Name
      %th  Hours
      %th  Location
      %th  Website
  %tbody
    %tr
      %td  Arts Library
      %td  
        %a{:href => "http://www.library.ucla.edu/libraries/arts/9868.cfm"} see website
      %td  
        %a{:href => "http://www.library.ucla.edu/libraries/arts/9728.cfm"} 1400 Public Affairs Building, North Campus
      %td
        %a{:href => "http://www.library.ucla.edu/libraries/arts/"} http://www.library.ucla.edu/libraries/arts/
    
    %tr
      %td  College Library (Powell)
      %td  
        %a{:href => "http://www.library.ucla.edu/about/861.cfm"} see website
      %td  
        %a{:href => "http://www.library.ucla.edu/about/2065.cfm"} Powell Library Building 
      %td
        %a{:href => "http://www.library.ucla.edu/libraries/college/"} http://www.library.ucla.edu/libraries/college/

    %tr
      %td  Charles E. Young Research Library
      %td  
        %a{:href => "http://www2.library.ucla.edu/about/873.cfm"} see website
      %td  
        %a{:href => "http://www2.library.ucla.edu/about/2059.cfm"} Research Library Building 
      %td
        %a{:href => "http://www2.library.ucla.edu/libraries/researchlibrary/index.cfm"} http://www2.library.ucla.edu/libraries/researchlibrary/index.cfm
 
    %tr
      %td  Arts Library
      %td  
        %a{:href => "http://www.library.ucla.edu/about/1270.cfm"} see website
      %td  
        %a{:href => "http://www.library.ucla.edu/about/2060.cfm"} 1102 Schoenberg Music Building 
      %td
        %a{:href => "http://www.library.ucla.edu/libraries/music/"} http://www.library.ucla.edu/libraries/music/

    %tr
      %td  . . .
      %td  . . .
      %td  . . .
      %td  . . .