%ul
  %li.source
    %a#dlc(href='#') UCLA Digital Collections (default)
    %div An archive of images, manuscripts and sound recordings. A great number of collections covering many different topics are available.
    %div.subcategory
      %p Search by type
      %ul
        %li 
          %input#dlc-image(name='dlc-image' type='checkbox' checked=true) 
          %label(for='dlc-image') Image
        %li 
          %input#dlc-text(name='dlc-text' type='checkbox' checked=true) 
          %label(for='dlc-text') Text
        %li 
          %input#dlc-audio(name='dlc-audio' type='checkbox' checked=true) 
          %label(for='dlc-audio') Audio