%ul
  %li.source
    %a(href='#') Melvyl (default)
    %div The new UC-wide search engine. Has the best search features and provides additional sources if UC Libraries do not have a specific item.
  %li.source
    %a(href='#') UCLA Catalog
    %div The old UCLA search engine. Choose this one if you are used to it, otherwise we recommend Melvyl.