@import base.sass

+blueprint-form

#container
  +container
  font-family: Helvetica, Arial, sans-serif
h1
  font-size: 1.3em
  color: white
  padding: .3em 0
  background: #536895
  text-align: center
  
  .ucla-logo
    font-weight: bold

h2
  font-size: 3.5em
  margin-top: 1.6em
  margin-bottom: 0
  
h3
  font-size: 1.8em
  padding-left: 0.2em
  margin-top: 0.2em
  margin-bottom: 0.5em

h4
  font-size: 1.6em
  margin-bottom: 0.2em
  margin-top: 2em
  color: #F39A00
  padding-left: 0.2em
  
form.search
  padding-left: 0.5em
  
  input.text
    margin-right: 0.7em
    
ul
  +no-bullets
  padding-left: 0.2em
  li
    margin-top: 1em
    margin-bottom: 0.2em
    
    
  a
    +hover-link
    +link-colors(#000, #00c, #c00, #000, #00c) 
    font-size: 1.2em
    font-weight: bold
    display: block
    
  span
    color: #222222